/* TYPOGRAPHIC */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 500;
    color: #1F1F1F;
}

h1, .h1 {
    font-size: 36px;
    font-weight: 400;
}

h2, .h2 {
    font-size: 26px;
}

h3, .h3 {
    font-size: 22px;
}

h4, .h4 {
    font-size: 18px;
}

h5, .h5 {
    font-size: 16px;
}

h6, .h6 {
    font-size: 12px;
}

.nav, .nav-light {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-size: 14px;
    color: #1F1F1F;
}

.nav {
    font-weight: 700;
}

.nav-light {
    font-weight: 500;
}

.text-1, .text-1-light, .text-2, .text-2-light {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #1F1F1F;
}

.text-1 {
    font-weight: 500;
    font-size: 16px;
}

.text-1-light {
    font-weight: 300;
    font-size: 16px;
}

.text-2 {
    font-weight: 400;
    font-size: 14px;
}

.text-2-light {
    font-weight: 300;
    font-size: 14px;
}

.text-input {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1F1F1F;
}

.text-help-block {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    color: #1F1F1F;
}

a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #944646;
    cursor: pointer;
}

a:hover, a:active, a:focus {
    color: #801818;
}

.lh-120 {
    line-height: 120% !important;
}

.lh-140 {
    line-height: 140% !important;
}

.lh-160 {
    line-height: 160% !important;
}

.lh-180 {
    line-height: 180% !important;
}
/* TYPOGRAPHIC */

/* ADDITIONAL CLASSES */
.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}


.mt-5px {
    margin-top: 5px !important;
}

.mt-10px {
    margin-top: 10px !important;
}

.mt-15px {
    margin-top: 15px !important;
}

.mt-20px {
    margin-top: 20px !important;
}

.mt-30px {
    margin-top: 30px !important;
}

.mb-5px {
    margin-bottom: 5px !important;
}

.mb-10px {
    margin-bottom: 10px !important;
}

.mb-15px {
    margin-bottom: 15px !important;
}

.mb-20px {
    margin-bottom: 20px !important;
}

.mb-30px {
    margin-bottom: 30px !important;
}

.mr-5px {
    margin-right: 5px !important;
}

.mr-10px {
    margin-right: 10px !important;
}

.mr-15px {
    margin-right: 15px !important;
}

.mr-20px {
    margin-right: 20px !important;
}

.mr-30px {
    margin-right: 30px !important;
}

.ml-5px {
    margin-left: 5px !important;
}

.ml-10px {
    margin-left: 10px !important;
}

.ml-15px {
    margin-left: 15px !important;
}

.ml-20px {
    margin-left: 20px !important;
}

.ml-30px {
    margin-left: 30px !important;
}

.my-5px {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.my-10px {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.my-15px {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.my-20px {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.my-30px {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.mx-5px {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.mx-10px {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.mx-15px {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.mx-20px {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.mx-30px {
    margin-left: 30px !important;
    margin-right: 30px !important;
}
/* ADDITIONAL CLASSES */


/* COLOR */
.bg-black {
    background-color: #1F1F1F;
}

.bg-gray {
    background-color: #B2B4B6;
}

.bg-red {
    background-color: #801818;
}

.bg-red-light {
    background-color: #944646;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-white-light {
    background-color: #F7F7F8;
}

.text-black {
    color: #1F1F1F;
}

.text-gray {
    color: #B2B4B6;
}

.text-red {
    color: #801818;
}

.text-red-light {
    color: #944646;
}

.text-white {
    color: #FFFFFF;
}

.text-white-light {
    color: #F7F7F8;
}

.text-error {
    color: #F03E3E;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.text-success {
    color: #A1DC47;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
/* COLOR */


/* UI COMPONENTS */
/* BASE */
.input-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.input-group-horizontal {
    display: flex;
    align-items: baseline;
}

.input_label {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1F1F1F;

    margin-bottom: 5px;
}

.input_help-block {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    color: #B2B4B6;

    margin-top: 5px;
}

.input_help-block_error {
    color: #F03E3E;
}

.input_help-block_success {
    color: #A1DC47;
}

.input_help-block_disabled {
    color: #B2B4B6;
}
/* BASE */

/* INPUT TEXT, TEXTAREA */
input:focus, button:focus {
    outline: none;
}

.input-textarea, .input-text {
    background: #FFFFFF;

    padding: 7px 10px;
    box-sizing: border-box;

    border: 1px solid #B2B4B6;
    border-radius: unset;

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1F1F1F;
}

.input-text {
    width: 270px;
    height: 35px;
}

.input-text_sm {
    width: 170px;
    height: 35px;
}

.input-textarea {
    resize: none;
    height: 100px;
    width: 360px;
}

.input-text::placeholder,
.textarea::placeholder {
    color: #B2B4B6;
}

.input-text_error,
.input-textarea_error {
    border: 1px solid #F03E3E;
}

.input-text_success,
.input-textarea_success {
    border: 1px solid #A1DC47;
}

.input-text_disabled,
.input-textarea_disabled {
    background-color: #F7F7F8;
}
/* INPUT TEXT, TEXTAREA */

/* INPUT COLOR PICKER */
.input-color {
    border: 1px solid #B2B4B6;
    border-radius: 3px;

    width: 40px;
    height: 26px;
    padding: 4px;
    margin: 5px 0;

    cursor: pointer;

    background-color: #FFFFFF;
}
/* INPUT COLOR PICKER */

/* INPUT CHECKBOX */
.input-checkbox {
    position: relative;
    display: none;
}
.input-checkbox_label:before, .input-checkbox_label:after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    left: 0;
    box-sizing: border-box;
    transform: translateY(-5%);
}
.input-checkbox_label:before {
    border: 1px solid #1F1F1F;
}

.input-checkbox_label:after {
    background: url("../image/icons/check.svg") no-repeat center;
    background-size: 70%, contain;
    opacity: 0;
}
.input-checkbox:checked+.input-checkbox_label:after {
    opacity: 1;
}

.input-checkbox_label {
    position: relative;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1F1F1F;
    line-height: 15px;
    cursor: pointer;
    padding-left: 30px;
}
/* INPUT CHECKBOX */

/* INPUT RADIO */
.input-radio_label {
    margin-left: 5px;

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1F1F1F;
    line-height: 15px;

    cursor: pointer;
}
/* INPUT RADIO */

/* INPUT FILE */
/* noinspection CssInvalidPseudoSelector */
.input-file::file-selector-button,
.input-file::-webkit-file-upload-button {
    padding: 10px 12px;

    color: #FFFFFF;
    background-color: #801818;
    pointer-events: none;

    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;

    cursor: pointer;
}

.input-file {
    background-color: #FFFFFF;

    width: 350px;
    border: 1px solid #B2B4B6;

    margin: 5px 0;

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1F1F1F;

    cursor: pointer;
}

.input-file_sm {
    width: 250px;
}

.input-file_disabled {
    background-color: #F7F7F8;
    color: #B2B4B6;

    cursor: default;
}
/* INPUT FILE */

/* INPUT SELECT */
.input-select {
    width: 270px;
    margin-bottom: 5px;
    padding: 10px 0 10px 10px;

    border: 1px solid #B2B4B6;
    box-sizing: border-box;

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1F1F1F;

    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 12px;

    cursor: pointer;
    appearance: none;
}

.input-select[multiple=""] {
    background-image: none;
}

.input-select_error {
    border: 1px solid #F03E3E;
}

.input-select_success {
    border: 1px solid #A1DC47;
}

.input-select_disabled {
    background-color: #F7F7F8;
    color: #B2B4B6;
}

.input-select_sm {
    width: 170px;
}

.input-select[disabled=""] {
    cursor: default;
}
/* INPUT SELECT */

/* INPUT RANGE */
.input-range {
    width: 320px;
    margin: 5px 0;
}

.input-range::-moz-range-thumb {
    border: 0;
    border-radius: 50%;
    background-color: #801818;
    width: 12px;
    height: 12px;

    cursor: pointer;
}

.input-range::-moz-range-track {
    height: 8px;
    border-radius: 5px;

    background-color: #F7F7F8;
}

.input-range[disabled=""] {
    background-color: #FFFFFF;
}

.input-range[disabled=""]::-moz-range-thumb {
    background-color: #B2B4B6;
    cursor: default;
}

.input-range_sm {
    width: 250px;
}
/* INPUT RANGE */

/* BUTTONS */
button {
    cursor: pointer;
}

.button, .button-light {
    margin: 0;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
}

.button {
    border: 2px solid #801818;
    color: #801818;
}

.button:hover {
    background-color: #801818;
    color: #FFFFFF;
}

.button-light {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.button-light:hover {
    background-color: #FFFFFF;
    color: #801818;
}

/* BUTTONS FOR FORMS */
.button-input, .button-input_sm, .button-input-light, .button-input-light_sm {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    width: 270px;
    height: 35px;
    margin: 0;
    box-sizing: border-box;
}

.button-input_sm, .button-input-light_sm {
    width: 170px;
}

.button-input, .button-input_sm {
    color: #FFFFFF;
    background-color: #801818;
}

.button-input:hover, .button-input_sm:hover {
    color: #801818;
    background-color: #FFFFFF;
    border: 2px solid #801818;
}

.button-input-light, .button-input-light_sm {
    color: #801818;
    background-color: #FFFFFF;
}

.button-input-light:hover, .button-input-light_sm:hover {
    color: #FFFFFF;
    background-color: #801818;
}
/* BUTTONS FOR FORMS */
/* BUTTONS */

/* MODAL WINDOW */
.modal {
    display: none;

    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: rgba(178, 180, 182, 0.6);
}

.modal_window {
    width: 600px;
    min-height: 100px;
    margin: 100px auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: #FFFFFF;
}

.modal_close {
    align-self: end;

    margin: 5px 5px 0 0;

    cursor: pointer;
}

.modal_content {
    padding: 40px 60px;

    text-align: center;
}
/* MODAL WINDOW */
/* UI COMPONENTS */


/* HEADER */
.top-line {
    z-index: 10;
    padding: 35px 0 55px 0;
    background-color: #fff;
}

.top-line__logo {
    width: 302px;
    height: 52px;
}

.top-line__logo img {
    width: 100%;
    height: 100%;
    object-position: left center;
    object-fit: contain;
}

.top-line__logo a {
    width: 100%;
    height: 100%;
}

.top-line__number {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    color: #1F1F1F;
    text-decoration: none;
}

.top-line__text {
    width: 315px;
}

.header-top__logo {
    width: 300px;
    height: 50px;
}

.dots {
    padding: 0 10px;
    width: 100%;
    height: 100%;
}

.dots mark {
    background: transparent;
    color: #fff;
    transform: translateY(-5px);
}

.header-top__logo a {
    width: 100%;
    height: 100%;
}

.header-top__logo img {
    width: 100%;
    height: 100%;
    object-position: left center;
    object-fit: contain;
}

.menu-scroll__logo {
    width: 180px;
    height: auto;
}

.menu-scroll__logo a {
    width: 100%;
    height: 100%;
}

.menu-scroll__logo img {
    width: 100%;
    height: 100%;
    object-position: left center;
    object-fit: contain;
}

.menu-scroll__list li {
    position: relative;
}

.menu-scroll__list li:hover span {
    background-color: #801818;
    color: #fff;
}

.menu-scroll__list li:hover span svg path {
    fill: #fff;
}

.sub-menu__list li:hover > a {
    background-color: #801818;
    color: #fff;
}

.menu-scroll__list span {
    background-color: #fff;
    color: #1F1F1F;
    padding: 22px 25px;
    height: 60px;
    line-height: 60px;
    border-right: 0.5px solid #B2B4B6;
    border-left: 0.5px solid #B2B4B6;
    position: relative;
}

.menu-scroll__list span svg {
    margin-left: 5px;
    width: 12px;
    height: 8px;
    object-fit: contain;
}

.menu-scroll__list span svg path {
    fill: #1F1F1F;
}

.menu-scroll__search button {
    padding: 9px 15px 7px 15px;
}

.menu-scroll__search input {
    background: #F7F7F8;
    border-radius: 2px 0 0 2px;
    width: 330px;
    height: 37px;
    padding: 10px;
    border: 2px solid transparent;

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1F1F1F;
}

.menu {
    position: absolute;
    z-index: 11;
    bottom: 0;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    width: 100%;
}

.menu__row {
    width: 100%;
}

.menu__row ul {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #801818;
    list-style: none;
}

.menu__row li {
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    border-left: 1px solid #944646;
}

.menu__link {
    color: #fff;
    background-color: #801818;
    padding: 24px 0;
    justify-content: center;
    text-decoration: none;
}

.menu__link svg {
    margin-left: 5px;
    width: 16px;
    height: 12px;
    object-fit: contain;
    transform: rotate(90deg);
}

.menu__row li:first-child {
    border: 0;
}

.menu__link:hover {
    color: #fff;
}

.sub-menu__list {
    display: none !important;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fff !important;
    min-width: 270px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    z-index: 12;
}

.sub-menu__list_right {
    right: 0;
    left: auto;
}

.sub-menu__list_right li .sub-sub-menu__list {
    right: 0;
    left: -200%;
}

.sub-menu__list svg {
    margin-left: 5px;
    width: 12px;
    height: 12px;
    object-fit: contain;
}

.sub-menu__list svg path {
    fill: #1F1F1F;
}

.sub-menu__list > li a {
    display: block;
    color: #1F1F1F;
    background-color: #F7F7F8;
    padding: 15px 10px;
    line-height: 13px;
}

.sub-menu__list li {
    border: 0;
}
.sub-menu__list li:hover{
    z-index: 3;
}

.sub-menu__list li:hover:before{
    display: none;
}
.sub-menu__list li:before {
    background-color: #B2B4B6;
    position: absolute;
    content: '';
    height: 1px;
    width: 93%;
    left: 50%;
    top: 0;
    transform: translateY(-100%) translateX(-50%);
}

.sub-menu__list li:first-child:before {
    display: none;
}

.sub-menu__list > li a:hover {
    background-color: #801818;
    color: #fff;
}

.sub-menu__list > li:hover svg path {
    fill: #fff;
}

.header__pc.transform .menu {
    display: none;
}

.menu-scroll {
    transform: translateY(-100%);
    transition: 0.2s ease-in-out all;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    background-color: #fff;
    height: 60px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    opacity: 0;
}

.header__pc.transform .menu-scroll {
    transform: translateY(0);
    opacity: 1;
}

.menu-scroll__number {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    color: #1F1F1F;
}

.menu__list > li:hover .sub-menu__list {
    display: block !important;
}

.sub-sub-menu__list {
    display: none !important;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff !important;
    min-width: 190px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    z-index: 13;
    transform: translateX(100%);
}

.sub-sub-menu__list svg {
    margin-left: 5px;
    width: 12px;
    height: 12px;
    object-fit: contain;
}

.sub-sub-menu__list svg path {
    fill: #1F1F1F;
}

.sub-sub-menu__list > li {
    border: none;
}

.sub-sub-menu__list > li a {
    display: block;
    color: #1F1F1F;
    background-color: #F7F7F8;
    padding: 15px 10px;
    text-decoration: none;
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    position: relative;
}

.sub-sub-menu__list > li a:hover {
    background-color: #801818;
    color: #fff;
}

.sub-menu__list > li:hover .sub-sub-menu__list {
    display: block !important;
}

.header__mob {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 83px;
    z-index: 10;
}

.header__top {
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
}

.header-top__icon {
    margin-right: 40px;
}

.header-top__icon:last-child {
    margin-right: 0;
}

.header__bottom {
    width: 100%;
    top: 0;
    transition: 0.2s ease-in-out all;
    left: -100%;
    background-color: #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
    overflow: scroll !important;
    height: 100vh;
    padding-bottom: 12%;
}

.header__bottom.active {
    top: 0;
    left: 0;
}

.header__bottom nav {
    width: 100%;
}

.mob__link {
    text-decoration: none;
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    color: #1F1F1F;
    padding: 20px 12px;
    background: #F7F7F8;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mob__link_more.active {
    background: #801818;
    color: #fff;
}

.mob__link_more.active svg path {
    fill: #fff;
}

.mob__link svg {
    width: 10px;
    height: 7px;
    object-fit: contain;
    object-position: center;
}

.mob__link svg path {
    fill: #1F1F1F;
}

.mob__list {
    list-style: none;
    background: #F7F7F8;
    width: 100%;
}

.mob__link_more.active + .mob__sub-list {
    display: block;
}

.mob__sub-list {
    display: none;
}

.mob__sub-list {
    background: #F7F7F8;
}

.mob__sub-list li {
}

.mob__sub-list li a {
    background: #F7F7F8;
    padding: 20px 22px 20px 22px;
    display: flex;
}

.mob__list li {
    position: relative;
}

.mob__list li:after {
    position: absolute;
    content: '';
    background-color: #B2B4B6;
    height: 0.5px;
    width: 95%;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
}

.mob__list li:first-child:after {
    display: none;
}

/* burger */
.burger__body {
    width: 24px;
    height: 18px;
}

.burger {
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: #801818;
    top: 0;
    transition: 0.2s ease-in-out all;
}

.burger:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: #801818;
    top: 7px;
    transform: scale(1);
    transition: 0.2s ease-in-out all;
}

.burger:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: #801818;
    top: 14px;
    transition: 0.2s ease-in-out all;
}

.burger__body.active .burger {
    transform: rotate(45deg) translateY(50%) translateX(30%);
    top: 0;
    right: 0;
}

.burger__body.active .burger:after {
    transform: scale(0);
}

.burger__body.active .burger:before {
    top: 0;
    right: 0;
    transform: rotate(-90deg);
}
/* HEADER */


/* SECTIONS */
section {
    padding: 60px 0;
}

.section-shim {
    height: 30px;
}

/* SLIDER */
.slider {
    width: 100%;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 600px;
}

.swiper-slide {
    position: relative;
}

.slide__bg {
    position: absolute;
}

.slide__bg img {
    object-fit: cover;
    object-position: center;
}

.swiper-slide, .slide__bg, .slide__bg img {
    width: 100%;
    height: 100%;
}

.slide-info {
    position: relative;
    z-index: 1;
    width: 576px;
    margin: 130px 0;
}

.slide-info__title h1, .slide-info__subtitle p {
    color: #fff;
}

.slide-info__subtitle {
    width: 440px;
}

.swiper-pagination {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
}

.swiper-pagination-bullet {
    background-color: #fff;
    opacity: 1;
    width: 10px;
    height: 10px;
    border: 3px solid #fff;
    outline: none;
    margin-left: 0 !important;
    margin-right: 15px !important;
}

.swiper-pagination-bullet:last-child {
    margin-right: 0 !important;
}

.swiper-pagination-bullet-active {
    background-color: transparent;
}

/* SLIDER */

/* CATALOG */
.catalog {
    padding: 50px 0;
    background: #F7F7F8;
}

.catalog__row {
    margin: 0 -10px;
}

.catalog__item {
    padding: 10px;
    position: relative;
}

.item__body {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 250px;
    max-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item__title {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.item__title .h5 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    background-color: #801818;
    padding: 5px 8px;
}

.item__info {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
}

.item__info .h2 {
    color: #fff;
}

.item__body_hover:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: transparent;
    z-index: 1;
    transition: 0.1s all ease-in-out 0s;
    opacity: 0.2;
}

.item__body_hover:hover:after {
    background-color: #000;
}
/* CATALOG */

/* NEWS */
.news {
    padding-bottom: 0;
}

.column__body {
    overflow: hidden;
    max-height: 90px;
    min-height: 90px;
    position: relative;
}

.column__body > div {
    display: flex;
    position: relative;
}

.column__img {
    flex: 0 0 35.5%;
    max-width: 35.5%;
    position: relative;
    height: 90px;
    border-bottom: 1px solid #801818;
}

.column__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.column__info {
    flex: 0 0 64.5%;
    max-width: 64.5%;
    position: relative;
    padding: 0 5px 0 19px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info__date span {
    color: #fff;
    font-size: 12px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #801818;
    padding: 2px 5px 4px 5px;
}

.info__text {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.news-bottom {
    background-color: #801818;
    padding: 28px 0;
}

.news-bottom__title {
    width: 80%;
}

.news-bottom__column {
    position: relative;
}

.news-bottom__column_second p {
    max-width: 476px;
}

.title__item {
    flex: 0 0 60%;
    max-width: 60%;
    position: relative;
}

.title__item:last-child {
    flex: 0 0 40%;
    max-width: 40%;
}

.title__item h3 {
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
}

.title__item img {
    object-fit: contain;
    object-position: center;
    width: 22.5px;
    height: 45px;
}

.news-bottom__text p {
    color: #fff;
    width: 95%;
}
/* NEWS */

/* BRAND CATALOG */
.brands-catalog {
    background: #F7F7F8;
}

.brands-catalog-bottom__item {
    background: #FFFFFF;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25);
    width: 112px;
    height: 68px;
    border-bottom: 1px solid #801818;
    position: relative;
    padding: 0;
}

.brands-catalog-bottom__item div {
    position: relative;
    width: 100%;
    height: 100%;
}

.brands-catalog-bottom__item:hover div:after {
    background-color: #000;
}

.brands-catalog-bottom__item div:after {
    transition: 0.3s all ease-in-out 0s;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: transparent;
    opacity: 0.1;
    content: '';
}

.brands-catalog-bottom__item img {
    object-fit: contain;
    object-position: center;
    max-width: 60px;
}
/* BRAND CATALOG */

/* REVIEWS */
.reviews .container {
    overflow: hidden;
}

.slider-btn {
    width: 37px;
    border-radius: 3px;
    border: 1.5px solid #801818;
}

.slider-btn svg {
    width: 10px;
    height: 17px;
    object-position: center;
    object-fit: contain;
}

.slider-btn:hover path {
    fill: #fff;
}

.slider-btn:hover {
    background-color: #801818;
}

.review-item-top {
    background-color: #F7F7F8;
}

.review-item-top__text {
    position: relative;
    padding: 35px 20px 20px 110px;
}

.review-item-top__text:before {
    content: '';
    background: url("../image/icons/qutor-mark.svg") no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 33px;
    top: 40px;
}

.review-item-top__link {
    padding: 0 0 40px 110px;
}

.review-item-bottom {
    padding: 20px 0 0 100px;
    position: relative;
}

.review-item-bottom__name {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #1F1F1F;
}

.review-item-bottom__post {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    color: #B2B4B6;
    text-transform: uppercase;
}

.review-item-bottom:before {
    content: '';
    background: url("../image/icons/triangel.png") no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 54px;
    top: 0;
}

.swiper-pagination_second {
    position: relative;
    display: none !important;
    justify-content: center;
}

.swiper-pagination_second .swiper-pagination-bullet {
    background-color: #801818;
    opacity: 1;
    width: 10px;
    height: 10px;
    border: 3px solid #801818;
    outline: none;
    margin-left: 0 !important;
    margin-right: 15px !important;
}

.swiper-pagination_second .swiper-pagination-bullet:last-child {
    margin-right: 0 !important;
}

.swiper-pagination_second .swiper-pagination-bullet-active {
    background-color: transparent;
}
/* REVIEWS */

/* FORM BUTTON */
.form-button {
    background-color: #801818;
}

.form-button__title {
    width: 100%;
}

.form-button__column {
    position: relative;
}

.title__item {
    flex: 0 0 80%;
    max-width: 80%;
    position: relative;
}

.title__item:last-child {
    flex: 0 0 20%;
    max-width: 20%;
}

.title__item h3 {
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
}

.title__item img {
    object-fit: contain;
    object-position: center;
    width: 22.5px;
    height: 45px;
}

.form-button__text p {
    color: #fff;
    width: 476px;
}
/* FORM BUTTON */
/* SECTIONS */


/* FOOTER */
footer {
    background-color: #2E2E2F;
    padding: 60px 0;
}

.body-footer__copy a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    transition: 0.3s all ease-in-out 0s;
}

.body-footer__copy a:hover {
    color: #944646;
}

.body-footer__soc a {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 37px;
    height: 37px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #944646;
    box-sizing: border-box;
    border-radius: 3px;
}

.body-footer__soc svg {
    max-height: 24px;
    width: auto;
    object-fit: contain;
    object-position: center;
}

.body-footer__soc path {
    transition: 0.3s all ease-in-out 0s;
}

.body-footer__soc a:hover path {
    fill: #944646;
}

.body-footer__soc a:last-child {
    margin-right: 0;
}

.footer-column__title h4 {
    color: #fff;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out all 0s;
}

.footer-column__title a {
    display: inline-flex;
}

.footer-column__title a:hover h4 {
    color: #944646;
}

.footer-column__list {
    list-style-position: inside;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.footer-column__item a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #B2B4B6;
    transition: 0.3s ease-in-out all 0s;
    text-decoration: underline transparent;
}

.footer-column__item a:hover {
    color: #944646;
    text-decoration: underline #944646;
}

.footer-column__item {
    margin-top: 4px;
}

.footer-column__list_second {
    list-style-position: inside;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}

.body-footer__tel {
    margin-bottom: 30px;
}

.tel__list {
    padding: 0 0 0 40px;
}

.tel__list:before {
    content: '';
    background: url("../image/icons/phone.svg") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 0;
}

.tele {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: underline transparent;
    transition: 0.3s ease-in-out all 0s;
}

.tele:hover {
    color: #944646;
    text-decoration: underline #944646;
}

.tel__list mark {
    background-color: transparent;
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    color: #B2B4B6;
}

.tel__link {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #944646;
    text-decoration-line: underline;
}

.tel__link:hover {
    color: #fff;
}

.mail__list {
    padding: 0 0 0 40px;
}

.mail__list:before {
    content: '';
    background: url("../image/icons/mail.svg") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 0;
}

.mail__list a {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: transparent underline;
    transition: 0.2s ease-in-out all 0s;
}

.mail__list a:hover {
    color: #944646;
    text-decoration: #944646 underline;
}
/* FOOTER */


/* PAGE ABOUT */
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.content {
    flex: 1 1 auto;
}

.page-top {
    background-color: #F7F7F8;
}

.page-path {
    display: flex;

    margin-bottom: 60px;
}

.page-title {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-weight: 500;
    font-size: 48px;
    color: #1F1F1F;
}

.page-path_separator {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    margin-right: 15px;
    margin-left: 15px;

    color: #B2B4B6;
}

.page-path a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #B2B4B6;
    position: relative;
}

.page-path a:hover {
    color: #B2B4B6;
    text-decoration: underline;
}
/* PAGE ABOUT */


/* PAGE 404 */
.page-404 .page-text .text-1 {
    color: #B2B4B6;
}

.page-404 .page-text h1 {
    font-weight: 500;
}

.page-404 .page-text .button {
    background-color: #801818;
    color: #fff;
}

.page-404 .page-text .button:hover {
    background-color: transparent;
    color: #801818;
}

.error-404 {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-weight: 500;
    font-size: 288px;
    color: #1F1F1F;
}
/* PAGE 404 */


/* PAGE CONTACTS */
.page-contacts .col-body__icon {
    background-color: #801818;
    flex: 0 0 60px;
    max-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.page-contacts .col-body__icon img {
    max-width: 31px;
    max-height: 31px;
    object-fit: contain;
    object-position: center;
}

.page-contacts .col__contacts .text-2 mark {
    background-color: transparent;
    color: #B2B4B6;
}

.map {
    height: 100%;
    position: relative;
    padding: 0;
}

#map {
    height: 500px;
    width: 100%;
    max-height: 100%;
}

/* PAGE CONTACTS */

/* PAGE DELIVERY */
.page-delivery .col-body_w {
    width: 1100px;
    background: #FFFFFF;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
    padding: 40px 30px 60px 30px;
}

.page-delivery .col-body__icon {
    position: relative;
    height: 100%;
    flex: 0 0 90px;
    max-width: 90px;
    top: 0;
    left: 0;
}

.page-delivery .col-body__icon img {
    width: 100%;
    height: 100%;
    object-position: left top;
    object-fit: contain;
}

/* PAGE DELIVERY */

/* PAGE FAQ */
.page-faq details summary::-webkit-details-marker {
    display: none
}

.page-faq details {
    position: relative;
    padding-bottom: 20px;
}

.page-faq summary {
    border-bottom: 1px solid #B2B4B6;
    cursor: pointer;
    list-style: none;

    padding-bottom: 5px;
}

.page-faq details svg path {
    fill: #1F1F1F;
}

.page-faq details summary:before {
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    background: url("../image/icons/arrow-2 black.svg");
    width: 15px;
    height: 10px;
}

.page-faq details[open] {
    border-bottom: 1px solid #B2B4B6;
    margin-bottom: 20px;
    padding-bottom: 25px;
}

.page-faq details[open] summary:before {
    transform: rotate(180deg);
}

.page-faq details[open] summary {
    margin-bottom: 18px;
    border-bottom: none;
}
/* PAGE FAQ */

/* PAGE BRANDS && PAGE PRODUCTS*/
.page-brands .brands-scroll_item {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-weight: 300;
    font-size: 26px;
    color: #1F1F1F;
    background-color: transparent;
    padding: 0 4px;
}

.brands-search .input-text, .product-search .input-text {
    max-width: 650px;
    width: 650px;
    border: 1px solid #801818;
    padding: 10px;
}

.brands-search button, .product-search button {
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
}

.brands-list-group__name {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-weight: 300;
    font-size: 26px;
    color: #1F1F1F;
    max-width: 835px;
}

.brands-list-group__name:after {
    content: '';
    background-color: #B2B4B6;
    height: 1px;
    margin-left: 15px;
    top: 0;
    width: 100%;
    transform: translateY(10px);
}

.brand__body {
    display: inline-flex;
    flex-direction: column;
}

.brand__img {
    background-color: #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
    width: 165px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand__img img {
    width: 90px;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.brand__name {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #1F1F1F;
    display: block;
    text-align: center;
}

.brand.hide, .brands-list.hide {
    display: none;
}

.brands-form {
    overflow: hidden;
}

.brands-form legend {
    font-size: 32px;
}

.brands-form .text-1-light {
    font-size: 16px;
    color: #B2B4B6;
}

.brands-form .input-text {
    padding: 6px 10px;
    width: 50%;
    max-width: 50%;
}

.brands-form .button {
    padding: 0 10px;
    width: 50%;
    max-width: 50%;
    line-height: 29px;
    height: 29px;
}
/* PAGE BRANDS */

/* PAGE BRAND*/
.brand-page__icon {
    position: relative;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-page__icon img {
    width: auto;
    height: 50%;
    object-fit: contain;
    object-position: center;
}

.brand-page__button button {
    padding: 12px 28px;
    border-radius: 3px;
    font-size: 12px;
}

.brand-page__about {
    padding: 90px 0;
}

.brand-page__catalog_top {
    margin-bottom: 70px;
}

.product-item {
    width: 300px;
}

.product-item__hidden-content {
    display: none;
}

.product-item:hover .product-item__hidden-content {
    display: flex;

    z-index: 100;
}

.product-item__body {
    background: #FFFFFF;
    border: 1px solid #F7F7F8;
    box-sizing: border-box;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 300px;
}

.product-item__img {
    width: 100%;
    position: relative;
    height: 200px;
}

.product-item__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-item__info small {
    text-align: end;
}

.product-item__info small img {
    width: 13px;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.product-item__info mark {
    background-color: transparent;
    color: #B2B4B6;
}

.brand-page__catalog_bottom {
    padding: 90px 0 30px 0;
}

.steps {
    background: #FFFFFF;
    box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    padding: 30px 50px 30px 50px;
}

.circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1F1F1F;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
/* PAGE BRAND */


/* PAGE SINGLE NEWS*/
.single-news {
    padding: 60px 0 45px 0;
    overflow: hidden;
}

.news-single-page .left-img {
    float: left;
    width: 420px;
    height: 260px;
    position: relative;
}

.news-single-page .left-img img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.single-news__table table {
    border-collapse: collapse;
    width: 800px;
}

.table__container {
    overflow: hidden;
}

.single-news__table td, .single-news__table th {
    border: 1px solid #B2B4B6;
}

.single-news__table td {
    padding: 20px;
}

.single-news__table th {
    padding: 13px 20px;
}

.file {
    max-width: 300px;
}

.single-news__files .file-info__name {
    flex: 1 1 auto;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image__wrapper {
    flex: 0 0 240px;
    max-width: 240px;
    height: 180px;
    position: relative;
}

.image__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.image__wrapper:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    opacity: 0;
    background: url("../image/icons/zoom.svg") center no-repeat, rgba(0, 0, 0, .3);
}

.image__wrapper:hover:after {
    opacity: 1;
}

.single-news__gallery_row {
    flex-wrap: wrap;
}

.news-page-link {
    position: relative;
}

.news-page-link span {
    position: relative;
    width: 37px;
    height: 37px;
    border: 1.5px solid #801818;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.news-page-link svg {
    width: 10px;
    height: 17px;
}

.single-news__links .icon__body {
    width: 37px;
    height: 37px;
    position: relative;
    border-radius: 3px;
}

.news-single-page .news {
    padding: 0 0 60px;
}

/* PAGE SINGLE NEWS*/

/* PAGE NEWS */
.news-item__body {
    display: flex;
    flex-direction: column;
}

.news-item {
    overflow: hidden;
}

.news-item:nth-child(1), .news-item:nth-child(2) {
    flex: 0 0 50%;
    max-width: 50%;
}

.news-item__img {
    max-height: 240px;
    position: relative;
    overflow: hidden;
}

.news-item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-item__info {
    overflow: hidden;
}

.news__more {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.news-nav li button {
    background-color: transparent;
    border: 1.5px solid #801818;
    border-radius: 3px;
    width: 37px;
    height: 37px;
}

.news-nav li button.active {
    border: 1.5px solid #B2B4B6;
    color: #B2B4B6;
    margin-right: 0;
}

.news-nav li button.next {
    width: 43px;
    height: 43px;
    margin: 0 15px;
}

/* PAGE NEWS */
/* BREAKPOINTS */
/* XL BREAKPOINT */
@media (max-width: 1400px) {
    /* TYPOGRAPHIC */
    /* TYPOGRAPHIC */
    /* ADDITIONAL CLASSES */
    /* ADDITIONAL CLASSES */
    /* COLOR */
    /* COLOR */
    /* UI COMPONENTS */
    /* UI COMPONENTS */
    /* HEADER */
    .top-line__logo {
        position: relative;
        width: 280px;
        height: 52px;
    }

    .top-line__logo img {
        width: 100%;
        height: 100%;
        object-position: left center;
        object-fit: contain;
    }

    /* HEADER */
    /* SECTIONS */
    /* REVIEWS */
    .review-item-top__text:before {
        height: 50px;
        width: 50px;
    }

    .review-item-top__text {
        padding-left: 100px;
    }

    .review-item-top__link {
        padding-left: 100px;
    }

    /* REVIEWS */
    /* CATALOG */
    .item__body {
        height: 200px;
    }

    /* CATALOG */
    /* BRANDS CATALOG */
    .brands-catalog-bottom__item {
        margin: 10px 6.5px;
    }

    /* BRANDS CATALOG */
    /* SECTIONS */
    /* FOOTER */
    .mail__list a {
        font-size: 10px;
    }

    .tel__list li {
        margin-bottom: 0;
    }

    .mail__list li {
        margin-bottom: 0;
    }

    /* FOOTER */
    /* PAGE 404*/
    .error-404 {
        font-size: 260px;
    }

    /* PAGE 404*/
    .steps .text-2 {
        margin-bottom: 15px;
    }

    .steps {
        padding: 30px 50px 15px 50px;
    }
}


/* LG BREAKPOINT */
@media (max-width: 1200px) {
    /* TYPOGRAPHIC */
    /* TYPOGRAPHIC */
    /* ADDITIONAL CLASSES */
    /* ADDITIONAL CLASSES */
    /* COLOR */
    /* COLOR */
    /* UI COMPONENTS */
    .form .input-group {
        max-width: 100%;
    }

    /* UI COMPONENTS */
    /* HEADER */
    .top-line__text {
        width: 237px;
    }

    /* HEADER */
    /* SECTIONS */
    /* CATALOG */
    .section_catalog-item {
        height: 200px;
    }

    .item__title .h5 {
        font-size: 12px;
    }

    /* CATALOG */
    /* NEWS */
    .news-bottom__title {
        width: 100%;
    }

    /* NEWS */
    /* SLIDER */
    .swiper-container {
        height: 500px;
    }

    .slide-info {
        margin: 100px 0;
    }

    /* SLIDER */
    /* BRANDS CATALOG */
    .brands-catalog-bottom__item {
        margin: 10px 12.5px;
    }

    /* BRANDS CATALOG */
    /* REVIEWS */
    .review-item-top__text:before {
        height: 40px;
        width: 40px;
    }

    .review-item-top__text {
        padding-left: 90px;
    }

    .review-item-top__link {
        padding-left: 90px;
    }

    /* REVIEWS */
    /* SECTIONS */
    /* FOOTER */
    /* FOOTER */
    /* PAGE 404 */
    .error-404 {
        font-size: 220px;
    }

    /* PAGE 404 */
    /* PAGE DELIVERY */
    .page-delivery .col-body_w {
        width: 900px;
        padding: 40px 30px;
    }

    /* PAGE DELIVERY */
    /* PAGE FAQ */
    .page-faq summary {
        padding-bottom: 10px;
    }

    .page-faq summary span {
        width: 90%;
        display: block;
    }

    .page-faq details[open] summary {
        margin-bottom: 10px;
    }

    .page-faq details[open] {
        padding-bottom: 24px;
    }

    .page-faq details summary:before {
        top: 0;
    }

    .page-faq details {
        padding-bottom: 10px;
    }

    /* PAGE FAQ */
    .image__wrapper {
        flex: 0 0 200px;
        max-width: 200px;
        height: 150px;
    }

    .news-single-page .left-img {
        width: 350px;
        height: 220px;
    }
}


/* MD BREAKPOINT */
@media (max-width: 992px) {
    body.lock {
        overflow: hidden;
    }

    /* TYPOGRAPHIC */
    /* TYPOGRAPHIC */
    /* ADDITIONAL CLASSES */
    /* ADDITIONAL CLASSES */
    /* COLOR */
    /* COLOR */
    /* UI COMPONENTS */
    .form fieldset {
        transform: translateX(12px);
    }

    .form legend {
        font-size: 14px;
    }

    .input-text_label {
        font-size: 12px;
    }

    /* UI COMPONENTS */
    /* SECTIONS */
    section {
        padding: 30px 0;
    }

    /* SECTIONS */
    /* HEADER */
    .header__pc {
        display: none;
    }

    .header__mob {
        display: block;
    }

    .list__buttons {
        padding: 20px;
    }

    .menu-scroll__search input {
        max-width: 278px;
    }

    .menu-scroll__search button {
        margin-right: 20px;
    }

    /* HEADER */
    /* FORM BUTTON */
    .form-button__column {
        margin-bottom: 0 !important;
    }

    .form-button__column {
        margin-bottom: 20px;
    }

    .form-button__column:last-child {
        margin-bottom: 0;
    }

    .form-button__text p {
        width: auto;
    }

    /* FORM BUTTON */
    /* CATALOG */
    .catalog {
        padding: 20px 0;
    }

    .item__body {
        height: 140px;
    }

    .item__title .h5 {
        display: block !important;
        width: 100%;
        text-align: center;
    }

    .item__title {
        padding: 15px 0;
        position: relative;
    }

    .item__title > div {
        position: relative;
        width: 100%;
    }

    /* CATALOG */
    /* NEWS */
    .news-bottom__column {
        margin-bottom: 0 !important;
    }

    .news-middle__column {
        margin-bottom: 10px;
    }

    .news-middle__column:last-child {
        margin: 0;
    }

    .news-bottom__column {
        margin-bottom: 13px;
    }

    .news-bottom__column:last-child {
        margin-bottom: 0;
    }

    /* NEWS */
    /* SLIDER */
    .slider {
        margin-top: 80px;
    }

    .swiper-container {
        height: 300px;
    }

    .slide-info {
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .slide-info {
        text-align: center;
    }

    .slide-info__title {
        width: 576px;
    }

    /* SLIDER */
    /* BRANDS CATALOG */
    .brands-catalog-bottom__item {
        margin: 5px 2px;
    }

    /* BRANDS CATALOG */
    /* FOOTER */
    .body-footer-info {
        margin-bottom: 0;
    }

    .body-footer__row {
        margin-bottom: 20px;
    }

    footer {
        padding: 40px 0;
    }

    .body-footer__tel {
        margin-bottom: 70px;
    }

    /* FOOTER */
    /* PAGE 404 */
    .content {
        margin-top: 80px;
    }

    .page-text .text-1 {
        margin-bottom: 20px;
    }

    .page-text .h1 {
        margin-bottom: 10px;
    }

    .error-404 {
        font-size: 160px;
        margin-bottom: 20px;
    }

    /* PAGE 404 */
    /* PAGE CONTACTS */
    .page-contacts .page-text .h2 {
        margin-bottom: 20px;
    }

    #map {
        height: 400px;
    }

    .page-contacts .page-text__block {
        margin-bottom: 20px;
    }

    /* PAGE CONTACTS */
    /* PAGE DELIVERY */
    .page-delivery .page-text .text-1-light {
        margin-bottom: 20px;
    }

    .page-delivery .col-body_w {
        width: 700px;
        padding: 40px 30px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .page-delivery .col-body {
        margin-bottom: 20px;
    }

    .page-delivery .col-last .col-body {
        margin-bottom: 0;
    }

    /* PAGE DELIVERY */
    /* PAGE PRIVACY */
    .page-privacy .page-text .text-1 {
        margin-bottom: 20px;
    }

    .page-privacy .page-text .h2 {
        margin-bottom: 20px;
    }

    /* PAGE PRIVACY */
    .table__container {
        overflow-x: scroll;
    }

    .news-single-page .left-img {
        width: 270px;
        height: 180px;
    }

    .brand-page .text-1 {
        margin-top: 15px;
    }

    .single-news__gallery_row {
        flex-wrap: nowrap;
        overflow-y: scroll;
    }
}


/* SM BREAKPOINT */
@media (max-width: 768px) {
    /* TYPOGRAPHIC */
    h5, .h5 {
        font-size: 12px;
    }

    .page-title {
        font-size: 28px;
    }
    /* TYPOGRAPHIC */


    /* SECTIONS */
    .form-button__title {
        margin-bottom: 15px;
    }

    .form-button__text {
        margin-bottom: 15px;
    }


    /* SECTIONS */
    /* PAGE CONTACTS */
    #map {
        height: 300px;
    }

    .col__contacts_marg {
        margin-bottom: 20px;
    }
    /* PAGE CONTACTS */

    /* PAGE DELIVERY */
    .page-delivery .col-body_w {
        width: 500px;
    }
    /* PAGE DELIVERY */

    /* PAGE BRANDS */
    .brands-search .input-text, .product-search .input-text {
        width: 86vw;
        max-width: 86vw;
    }
    /* PAGE BRANDS */

    .news-page-link {
        margin-bottom: 10px;
    }

    .icon__body {
        margin-bottom: 10px;
    }

    .single-news {
        padding: 60px 0 30px 0;
    }

    .news-item:nth-child(1) {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .news-single-page .left-img {
        width: 200px;
        height: 120px;
    }
}


/* XS BREAKPOINT */
@media (max-width: 576px) {
    /* TYPOGRAPHIC */
    h1, .h1 {
        font-size: 24px;
    }

    h2, .h2 {
        font-size: 18px;
    }

    h3, .h3 {
        font-size: 14px;
    }

    .text-1 {
        font-size: 12px;
    }

    .text-1-light {
        font-size: 12px;
    }

    .text-2 {
        font-size: 10px;
    }

    .text-2-light {
        font-size: 10px;
    }
    /* TYPOGRAPHIC */


    /* HEADER */
    .header-top__logo {
        width: 150px;
        height: 30px;
        position: relative;
    }

    .header-top__logo a {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .header-top__logo img {
        width: 100%;
        height: 100%;
        object-position: left center;
        object-fit: contain;
    }

    .menu-scroll__button {
        margin-top: 20px;
        flex: 0 0 100%;
    }

    .menu-scroll__search input {
        max-width: 230px;
    }

    .menu-scroll__search button {
        margin-right: 0;
    }
    /* HEADER */


    .content {
        margin-top: 60px;
    }

    /* SECTIONS */
    section {
        padding: 20px 0;
    }

    /* SECTIONS */
    /* REVIEWS */
    .slider {
        margin-top: 60px;
    }

    .reviews {
        padding: 30px 0;
    }

    .reviews-top {
        margin-bottom: 10px;
    }

    .reviews-top__title {
        width: 100%;
        text-align: center;
    }

    .swiper-pagination_second {
        display: flex !important;
    }

    /* REVIEWS */
    /* NEWS */
    .news-bottom__text {
        margin-top: 20px;
    }

    .news-bottom__text p {
        width: 100%;
    }

    .item__body {
        height: 150px;
    }

    .news-middle {
        margin-bottom: 20px;
    }

    /* NEWS */
    /* CATALOG */
    .catalog {
        padding: 10px 0;
    }

    /* CATALOG */
    /* SLIDER */
    .swiper-container {
        height: 200px;
    }

    .slide-info__title, .slide-info__subtitle {
        width: 100%;
    }

    .slide-info {
        margin: 40px 0 0 0;
    }

    /* SLIDER */
    /* BRANDS CATALOG */
    .brands-catalog {
        padding: 30px 0;
    }

    .brands-catalog-bottom__item {
        margin: 5px 3.5px;
    }

    /* BRANDS CATALOG */
    /* FOOTER */
    .body-footer__tel {
        margin-bottom: 20px;
    }

    .footer-column_second {
        margin-top: 20px;
    }

    footer {
        padding: 20px 0;
    }

    .body-footer__mail {
        margin-bottom: 20px;
    }

    /* FOOTER */
    /* PAGE 404*/
    .page-text .text-1 {
        margin-bottom: 10px;
    }

    .page-text .h1 {
        margin-bottom: 10px;
    }

    .error-404 {
        font-size: 120px;
        margin-bottom: 10px;
    }

    /* PAGE 404*/
    /* PAGE CONTACTS */
    .page-contacts .page-text .text-2 {
        margin-bottom: 10px;
    }

    .page-contacts .page-text .h2 {
        margin-bottom: 15px;
    }

    /* PAGE CONTACTS */
    /* PAGE DELIVERY */
    .page-delivery .col-body_w {
        width: 100%;
        padding: 20px;
    }

    .page-delivery .page-text .text-1-light {
        margin-bottom: 10px;
    }

    .page-delivery .col-body_w .h2 {
        font-size: 14px;
    }

    .page-delivery .col-body__info {
        margin-left: 10px;
    }

    .page-delivery .col-body__icon {
        max-width: 50px;
        flex: 0 0 50px;
    }

    /* PAGE DELIVERY */
    /* PAGE PRIVACY */
    .page-privacy .page-text .text-1 {
        margin-bottom: 10px;
    }

    .page-privacy .page-text .h2 {
        margin-bottom: 15px;
    }

    /* PAGE DELIVERY */
    /* PAGE PRIVACY */
    /* PAGE FAQ */
    .page-faq details[open] {
        padding-bottom: 34px;
    }

    .page-faq .h4 {
        font-weight: 500;
        font-size: 12px;
    }

    /* PAGE FAQ */
    /* PAGE BRANDS */
    .brand__img {
        width: 130px;
        height: 80px;
    }

    .brands-form .button {
        display: block;
        flex: 1 1 100%;
    }

    /* PAGE BRANDS */
    .news-item:nth-child(2) {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .product-item__body {
        margin: 0 0 20px 0;
        width: 100%;
    }

    .news-single-page .left-img {
        width: 100%;
    }

    .image__wrapper {
        flex: 0 0 150px;
        max-width: 150px;
        height: 100px;
    }

    .brand-page__button button {
        width: 100%;
    }

    .steps {
        padding: 20px 20px 5px 20px;
    }
}