/* TYPOGRAPHIC */
/* TYPOGRAPHIC */

/* ADDITIONAL CLASSES */
.mt-5px {
    margin-top: 5px !important;
}

.mt-10px {
    margin-top: 10px !important;
}

.mt-15px {
    margin-top: 15px !important;
}

.mt-20px {
    margin-top: 20px !important;
}

.mt-30px {
    margin-top: 30px !important;
}
/* ADDITIONAL CLASSES */


/* COLOR */
/* COLOR */


/* UI COMPONENTS */
/* UI COMPONENTS */


/* HEADER */
/* HEADER */


/* SECTIONS */
/* SECTIONS */


/* FOOTER */
/* FOOTER */


/* BREAKPOINTS */
/* XXL BREAKPOINT */
@media (min-width: 1400px) {
    /* TYPOGRAPHIC */
    /* TYPOGRAPHIC */

    /* ADDITIONAL CLASSES */
    .mt-xxl-5px {
        margin-top: 5px !important;
    }

    .mt-xxl-10px {
        margin-top: 10px !important;
    }

    .mt-xxl-15px {
        margin-top: 15px !important;
    }

    .mt-xxl-20px {
        margin-top: 20px !important;
    }

    .mt-xxl-30px {
        margin-top: 30px !important;
    }
    /* ADDITIONAL CLASSES */


    /* COLOR */
    /* COLOR */


    /* UI COMPONENTS */
    /* UI COMPONENTS */


    /* HEADER */
    /* HEADER */


    /* SECTIONS */
    /* SECTIONS */


    /* FOOTER */
    /* FOOTER */
}


/* XL BREAKPOINT */
@media (min-width: 1200px) {
    /* TYPOGRAPHIC */
    /* TYPOGRAPHIC */

    /* ADDITIONAL CLASSES */
    .mt-xl-5px {
        margin-top: 5px !important;
    }

    .mt-xl-10px {
        margin-top: 10px !important;
    }

    .mt-xl-15px {
        margin-top: 15px !important;
    }

    .mt-xl-20px {
        margin-top: 20px !important;
    }

    .mt-xl-30px {
        margin-top: 30px !important;
    }
    /* ADDITIONAL CLASSES */


    /* COLOR */
    /* COLOR */


    /* UI COMPONENTS */
    /* UI COMPONENTS */


    /* HEADER */
    /* HEADER */


    /* SECTIONS */
    /* SECTIONS */


    /* FOOTER */
    /* FOOTER */
}


/* LG BREAKPOINT */
@media (min-width: 992px) {
    /* TYPOGRAPHIC */
    /* TYPOGRAPHIC */

    /* ADDITIONAL CLASSES */
    .mt-lg-5px {
        margin-top: 5px !important;
    }

    .mt-lg-10px {
        margin-top: 10px !important;
    }

    .mt-lg-15px {
        margin-top: 15px !important;
    }

    .mt-lg-20px {
        margin-top: 20px !important;
    }

    .mt-lg-30px {
        margin-top: 30px !important;
    }
    /* ADDITIONAL CLASSES */


    /* COLOR */
    /* COLOR */


    /* UI COMPONENTS */
    /* UI COMPONENTS */


    /* HEADER */
    /* HEADER */


    /* SECTIONS */
    /* SECTIONS */


    /* FOOTER */
    /* FOOTER */
}


/* MD BREAKPOINT */
@media (min-width: 768px) {
    /* TYPOGRAPHIC */
    /* TYPOGRAPHIC */

    /* ADDITIONAL CLASSES */
    .mt-md-5px {
        margin-top: 5px !important;
    }

    .mt-md-10px {
        margin-top: 10px !important;
    }

    .mt-md-15px {
        margin-top: 15px !important;
    }

    .mt-md-20px {
        margin-top: 20px !important;
    }

    .mt-md-30px {
        margin-top: 30px !important;
    }
    /* ADDITIONAL CLASSES */


    /* COLOR */
    /* COLOR */


    /* UI COMPONENTS */
    /* UI COMPONENTS */


    /* HEADER */
    /* HEADER */


    /* SECTIONS */
    /* SECTIONS */


    /* FOOTER */
    /* FOOTER */
}


/* SM BREAKPOINT */
@media (min-width: 576px) {
    /* TYPOGRAPHIC */
    /* TYPOGRAPHIC */

    /* ADDITIONAL CLASSES */
    .mt-sm-5px {
        margin-top: 5px !important;
    }

    .mt-sm-10px {
        margin-top: 10px !important;
    }

    .mt-sm-15px {
        margin-top: 15px !important;
    }

    .mt-sm-20px {
        margin-top: 20px !important;
    }

    .mt-sm-30px {
        margin-top: 30px !important;
    }
    /* ADDITIONAL CLASSES */


    /* COLOR */
    /* COLOR */


    /* UI COMPONENTS */
    /* UI COMPONENTS */


    /* HEADER */
    /* HEADER */


    /* SECTIONS */
    /* SECTIONS */


    /* FOOTER */
    /* FOOTER */
}


/* XS BREAKPOINT */
@media (max-width: 576px) {
    /* TYPOGRAPHIC */
    /* TYPOGRAPHIC */

    /* ADDITIONAL CLASSES */
    /* ADDITIONAL CLASSES */


    /* COLOR */
    /* COLOR */


    /* UI COMPONENTS */
    /* UI COMPONENTS */


    /* HEADER */
    /* HEADER */


    /* SECTIONS */
    /* SECTIONS */


    /* FOOTER */
    /* FOOTER */
}