/* Reset */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
html, body{line-height: 1;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}


/* Typography */
h1,h2,h3,h4,h5,h6, nav a{
    font-style: normal;
    font-weight: 400;
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    color: #1F1F1F;
}
h1{
    font-size: 36px;
    line-height: 34px;


}
h2{
    font-size: 26px;
    line-height: 25px;
    font-weight: 500;
}
h3{
    font-size: 22px;
    line-height: 21px;
}
h4{
    font-size: 18px;
    line-height: 17px;
}
h5{
    font-size: 16px;
    line-height: 15px;
}
h6{
    font-size: 12px;
    line-height: 11px;
}

nav a{
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
}

p{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1F1F1F;
}
p.light{
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}
@media (max-width: 576px) {
    h1{
        font-size: 28px;
        line-height: 26px;
    }
}


/* button */
.button{
    font-style: normal;
    font-weight: 500;
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 36px;
    text-transform: uppercase;
    padding: 10px;
    background-color: #801818;
    color: #fff;
    border-radius: 3px;
    border: 2px solid #801818;
    box-sizing: border-box;
}
.button:hover{
    color: #fff;

}
.button_transparent{
    background-color: transparent;
    color: #801818;
}
.button_transparent:hover{
    color: #801818;
}
.button_white{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}
@media (max-width: 992px){
    .button{
        font-size: 10px;
        padding: 8px;
    }
}




/* ----- Main part ----- */
html{
    height: 100%;
    min-height: 100vh;
    position: relative;
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
body.lock{
    overflow: hidden;
}

main{
    margin-top: 134px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
}
@media (max-width: 992px){
    main{
        margin-top: 76px;
    }
}

/* Header */
.body-header{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.body-header__top{
    background-color: #fff;
    z-index: 10;
}
.header-top__row{
    display: flex;
    flex-wrap: wrap;
    padding: 34px 0 44px 0;
    justify-content: space-between;
}
.header-top__column{
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
}
.column_second{
    justify-content: flex-end;
}
.column__logo{
    flex: 0 0 50%;
    max-width: 50%;
}
.column__logo img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}
.column__about{
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 20px;
}
.column__about p{
    color: #B2B4B6;
    font-weight: 300;
}
.column__tel{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}
.column__tel a{
    color: #1F1F1F;
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.column__button{}
.column_third{
    display: none;
}
.burger__body{
    width: 20px;
    height: 20px;
    position: relative;
}
.burger{
    position: absolute;
    background-color: #801818;
    width: 20px;
    height: 2px;
    top: 2px;
    right: 0;
    display: block;
    transition: 0.2s all ease-in-out 0s;
}
.burger:after{
    position: absolute;
    background-color: #801818;
    width: 20px;
    height: 2px;
    content: '';
    top: 14px;
    transition: 0.2s all ease-in-out 0s;
}
.burger:before{
    position: absolute;
    background-color: #801818;
    width: 20px;
    height: 2px;
    content: '';
    top: 7px;
    transition: 0.2s all ease-in-out 0s;
}
.burger__body.active .burger{
    transform: rotate(-45deg);
    top: 7px;
}
.burger__body.active .burger:after{
    transform: rotate(90deg);
    top: 0;
}
.burger__body.active .burger:before{
    transform: scale(0);
}
.header-bottom{
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;

}
.header-bottom__row{
    width: 100%;
    position: relative;
}
.header-bottom__row ul{
    position: relative;
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: #801818;
}
.header-bottom__row li{
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    border-left: 1px solid #944646;
}
.menu__link{
    display: block;
    color: #fff;
    background-color: #801818;
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 13px;
    text-align: center;
}
.header-bottom__row li:first-child{
    border: 0;
}
.menu__link:hover{
    color: #fff;
}
ul.column__tel_mob{
    display: none;
}

@media (max-width: 1200px) {
    .menu__link{
        font-weight: bold;
        font-size: 12px;
        line-height: 13px;
    }
}
@media (max-width: 992px) {
    ul.column__tel_mob{
        display: block;
    }
    .header-top__row{
        padding: 20px 0;
    }
    .header-bottom{
        display: block;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        position: fixed;
        bottom: 0;
        top: 0;
        left: -100%;
        margin-top: 76px;
        transition: 0.2s all ease-in-out 0s;
        overflow: scroll;
        padding-bottom: 130px;
    }
    .header-bottom.active{
        left: 0;
    }
    .header-bottom__row ul{
        flex-direction: column;
        background-color: transparent;
    }
    .header-bottom__row li{
        border: 0;
        flex: 1 1 100%;
        max-width: 100%;
        text-align: center;
    }
    .menu__link{
        background-color: transparent;
        color: #1F1F1F;
        display: inline-block;
        padding: 24px 20px;
    }
    .menu__link:hover{
        color: #1F1F1F;
    }
    .column__tel_mob{
        text-align: center;
    }
    .column__tel_mob a{
        font-size: 16px;
    }
    .column__tel{
        display: none;
    }
    .column__about{
        display: none;
    }
    .column_first{
        flex:  0 0 20%;
        max-width: 20%;
    }
    .column_second{
        flex: 0 0 60%;
        max-width: 60%;
        justify-content: center;
    }
    .column_third{
        flex: 0 0 20%;
        max-width: 20%;
        justify-content: flex-end;
        display: flex;
        position: relative;
    }
    .column__logo{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 576px) {
    .column_first{
        flex:  0 0 40%;
        max-width: 40%;
    }
    .column_second{
        flex: 0 0 50%;
        max-width: 50%;
        justify-content: flex-end;
    }
    .column_third{
        flex: 0 0 10%;
        max-width: 10%;
        justify-content: flex-end;
    }
}
@media (min-width: 992px) {
    .header-bottom {
        transform: translateY(50%);
    }
}


/* Slider */
.slider{
    width: 100%;
    height: 600px;
    position: relative;
}
.swiper-container {
    width: 100%;
    height: 600px;
    position: relative;
}
.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.swiper-slide{
    position: relative;
    width: 100%;
    height: 100%;
}
.slide__bg{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.slide__bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slide-info{
    position: relative;
    z-index: 1;
    width: 576px;
    margin: 130px 0;
}
.slide-info__title h1, .slide-info__subtitle p{
    color: #fff;
}
.slide-info__subtitle{
    width: 440px;
    margin-top: 10px;
}
.swiper-pagination{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
}
.swiper-pagination-bullet{
    background-color: #fff;
    opacity: 1;
    width: 10px;
    height: 10px;
    border: 3px solid #fff;
    outline: none;
}
.swiper-pagination-bullet-active{
    background-color: transparent;
}
@media (max-width: 992px){
    .slide-info{
        margin-top: 60px;
    }
    .slider{
        height: 80vh;
    }
    .swiper-container{
        height: 80vh;
    }
}
@media (max-width: 576px) {
    .slide-info{
        width: 100%;
    }
    .slide-info__subtitle{
        width: 90%;
    }
}


/* Catalog */
.catalog{
    padding: 60px 0;
    background-color: #F7F7F8;
}
.catalog__row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    justify-content: center;
}
.catalog__item{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 10px;
    position: relative;
}
.item__body{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 253px;
}
.item__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.item__bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.item__bg_red{
    background-color: #801818;
}
.item__title{
    position: relative;
    z-index: 1;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
.item__title h5{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    background-color: #801818;
    padding: 5px 8px;
    margin: 0;
}
.item__info{
    position: relative;
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item__info h2{
    color: #fff;
}
@media (max-width: 1200px){
    .item__title h5{
        font-size: 12px;
    }
}
@media (max-width: 992px){
    .catalog__item{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 576px){
    .catalog__item{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* About */
.about{
    padding: 60px 0;
}
.about__info{
    display: flex;
    flex-direction: column;
    flex: 0 0 58%;
    max-width: 58%;
}
.about__title h2{
    color: #000;
    margin-bottom: 30px;
}
.about__text p{
    font-size: 16px;
}
@media (max-width: 768px){
    .about__info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/* News */
.news{
    padding: 60px 0;
}
.news-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.news-bottom{
    display: flex;
    flex-wrap: wrap;
}
.news-bottom__column{
    flex: 0 0 33.333%;
    max-width: 33.333%;
}
.column__body{
    overflow: hidden;
    max-height: 90px;
    min-height: 90px;
    position: relative;
}
.column__body a{
    display: flex;
}
.column__img{
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    height: 90px;
}
.column__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.column__info{
    flex: 0 0 60%;
    max-width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 5px 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info__date span{
    color: #fff;
    font-size: 12px;
    line-height:  15px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #801818;
    padding: 2px 5px;
}
.info__text{
    margin-top: 10px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}


footer{

}
