/* Reset */
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* SECTIONS */
.section-shim {
    height: 30px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.content {
    flex: 1 1 auto;
}

/* SECTIONS */

/* HEADER */
.top-line {
    z-index: 10;
    padding: 35px 0 55px 0;
    background-color: #fff;
}

.top-line__logo {
    width: 302px;
    height: 52px;
}

.top-line__logo img {
    width: 100%;
    height: 100%;
    object-position: left center;
    object-fit: contain;
}

.top-line__logo a {
    width: 100%;
    height: 100%;
}

.top-line__number {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    color: #1F1F1F;
    text-decoration: none;
}

.top-line__text {
    width: 315px;
}

.header-top__logo {
    width: 300px;
    height: 50px;
}

.dots {
    padding: 0 10px;
    width: 100%;
    height: 100%;
}

.dots mark {
    background: transparent;
    color: #fff;
    transform: translateY(-5px);
}

.header-top__logo a {
    width: 100%;
    height: 100%;
}

.header-top__logo img {
    width: 100%;
    height: 100%;
    object-position: left center;
    object-fit: contain;
}

.menu-scroll__logo {
    width: 180px;
    height: auto;
}

.menu-scroll__logo a {
    width: 100%;
    height: 100%;
}

.menu-scroll__logo img {
    width: 100%;
    height: 100%;
    object-position: left center;
    object-fit: contain;
}

.menu-scroll__list li {
    position: relative;
}

.menu-scroll__list li:hover span {
    background-color: #801818;
    color: #fff;
}

.menu-scroll__list li:hover span svg path {
    fill: #fff;
}

.sub-menu__list li:hover > a {
    background-color: #801818;
    color: #fff;
}

.menu-scroll__list span {
    background-color: #fff;
    color: #1F1F1F;
    padding: 22px 25px;
    height: 60px;
    line-height: 60px;
    border-right: 0.5px solid #B2B4B6;
    border-left: 0.5px solid #B2B4B6;
    position: relative;
}

.menu-scroll__list span svg {
    margin-left: 5px;
    width: 12px;
    height: 8px;
    object-fit: contain;
}

.menu-scroll__list span svg path {
    fill: #1F1F1F;
}

.menu-scroll__search button {
    padding: 9px 15px 7px 15px;
}

.menu-scroll__search input {
    background: #F7F7F8;
    border-radius: 2px 0 0 2px;
    width: 330px;
    height: 37px;
    padding: 10px;
    border: 2px solid transparent;

    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #1F1F1F;
}

.menu {
    position: absolute;
    z-index: 11;
    bottom: 0;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    width: 100%;
}

.menu__row {
    width: 100%;
}

.menu__row ul {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: #801818;
    list-style: none;
}

.menu__row li {
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    border-left: 1px solid #944646;
}

.menu__link {
    color: #fff;
    background-color: #801818;
    padding: 24px 0;
    justify-content: center;
    text-decoration: none;
}

.menu__link svg {
    margin-left: 5px;
    width: 16px;
    height: 12px;
    object-fit: contain;
    transform: rotate(90deg);
}

.menu__row li:first-child {
    border: 0;
}

.menu__link:hover {
    color: #fff;
}

.sub-menu__list {
    display: none !important;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    background-color: transparent !important;
    min-width: 270px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    z-index: 12;
}

.sub-menu__list_right {
    right: 0;
    left: auto;
}

.sub-menu__list_right li .sub-sub-menu__list {
    right: 0;
    left: -200%;
}

.sub-menu__list svg {
    margin-left: 5px;
    width: 12px;
    height: 12px;
    object-fit: contain;
}

.sub-menu__list svg path {
    fill: #1F1F1F;
}

.sub-menu__list > li a {
    display: block;
    color: #1F1F1F;
    background-color: #F7F7F8;
    padding: 15px 10px;
    line-height: 13px;
}

.sub-menu__list {
    background-color: #fff !important;
}

.sub-menu__list li {
    border: 0;
}

.sub-menu__list li:before {
    background-color: #B2B4B6;
    position: absolute;
    content: '';
    height: 1px;
    width: 93%;
    left: 50%;
    top: 0;
    transform: translateY(-50%) translateX(-50%);
}

.sub-menu__list li:first-child:before {
    display: none;
}

.sub-menu__list > li a:hover {
    background-color: #801818;
    color: #fff;
}

.sub-menu__list > li:hover svg path {
    fill: #fff;
}

.header__pc.transform .menu {
    display: none;
}

.menu-scroll {
    transform: translateY(-100%);
    transition: 0.2s ease-in-out all;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    background-color: #fff;
    height: 60px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    opacity: 0;
}

.header__pc.transform .menu-scroll {
    transform: translateY(0);
    opacity: 1;
}

.menu-scroll__number {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    color: #1F1F1F;
}

.menu__list > li:hover .sub-menu__list {
    display: block !important;
}

.sub-sub-menu__list {
    display: none !important;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff !important;
    min-width: 190px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    z-index: 13;
    transform: translateX(100%);
}

.sub-sub-menu__list svg {
    margin-left: 5px;
    width: 12px;
    height: 12px;
    object-fit: contain;
}

.sub-sub-menu__list svg path {
    fill: #1F1F1F;
}

.sub-sub-menu__list > li {
    border: none;
}

.sub-sub-menu__list > li a {
    display: block;
    color: #1F1F1F;
    background-color: #F7F7F8;
    padding: 15px 10px;
    text-decoration: none;
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    position: relative;
}

.sub-sub-menu__list > li a:hover {
    background-color: #801818;
    color: #fff;
}

.sub-menu__list > li:hover .sub-sub-menu__list {
    display: block !important;
}

.header__mob {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 83px;
    z-index: 10;
}

.header__top {
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
}

.header-top__icon {
    margin-right: 40px;
}

.header-top__icon:last-child {
    margin-right: 0;
}

.header__bottom {
    width: 100%;
    top: 0;
    transition: 0.2s ease-in-out all;
    left: -100%;
    background-color: #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
    overflow: scroll !important;
    height: 100vh;
    padding-bottom: 12%;
}

.header__bottom.active {
    top: 0;
    left: 0;
}

.header__bottom nav {
    width: 100%;
}

.mob__link {
    text-decoration: none;
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    color: #1F1F1F;
    padding: 20px 12px;
    background: #F7F7F8;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mob__link_more.active {
    background: #801818;
    color: #fff;
}

.mob__link_more.active svg path {
    fill: #fff;
}

.mob__link svg {
    width: 10px;
    height: 7px;
    object-fit: contain;
    object-position: center;
}

.mob__link svg path {
    fill: #1F1F1F;
}

.mob__list {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #F7F7F8;
    width: 100%;
}

.mob__link_more.active + .mob__sub-list {
    display: block;
}

.mob__sub-list {
    display: none;
}

.mob__sub-list {
    background: #F7F7F8;
}

.mob__sub-list li {
}

.mob__sub-list li a {
    background: #F7F7F8;
    padding: 20px 22px 20px 22px;
    display: flex;
}

.mob__list li {
    position: relative;
}

.mob__list li:after {
    position: absolute;
    content: '';
    background-color: #B2B4B6;
    height: 0.5px;
    width: 95%;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
}

.mob__list li:first-child:after {
    display: none;
}

/* burger */
.burger__body {
    width: 24px;
    height: 18px;
}

.burger {
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: #801818;
    top: 0;
    transition: 0.2s ease-in-out all;
}

.burger:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: #801818;
    top: 7px;
    transform: scale(1);
    transition: 0.2s ease-in-out all;
}

.burger:before {
    content: '';
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: #801818;
    top: 14px;
    transition: 0.2s ease-in-out all;
}

.burger__body.active .burger {
    transform: rotate(45deg) translateY(50%) translateX(30%);
    top: 0;
    right: 0;
}

.burger__body.active .burger:after {
    transform: scale(0);
}

.burger__body.active .burger:before {
    top: 0;
    right: 0;
    transform: rotate(-90deg);
}

/* HEADER */


/* PAGE TOP */
.page-top {
    background-color: #F7F7F8;
}
/* PAGE TOP */


/* PAGE TEXT */
.page-text .text-1 {
    line-height: 26px;
    margin-bottom: 30px;
}
.page-text .h2 {
    margin-bottom: 30px;
}
.page-text .text-1:last-child {
    margin-bottom: 0;
}
/* PAGE TEXT */

/* FOOTER */
footer {
    background-color: #2E2E2F;
    padding: 60px 0;
    width: 100%;
}

.body-footer__copy {
    margin-bottom: 15px;
}

.body-footer__copy a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    transition: 0.3s all ease-in-out 0s;
}

.body-footer__copy a:hover {
    color: #944646;
}

.body-footer__soc a {
    margin-bottom: 10px;
    margin-right: 10px;
    width: 37px;
    height: 37px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #944646;
    box-sizing: border-box;
    border-radius: 3px;
}

.body-footer__soc svg {
    max-height: 24px;
    width: auto;
    object-fit: contain;
    object-position: center;
}

.body-footer__soc path {
    transition: 0.3s all ease-in-out 0s;
}

.body-footer__soc a:hover path {
    fill: #944646;
}

.body-footer__soc a:last-child {
    margin-right: 0;
}

.footer-column__title h4 {
    color: #fff;
    margin-bottom: 10px;
    transition: 0.3s ease-in-out all 0s;
}

.footer-column__title a {
    display: inline-flex;
}

.footer-column__title a:hover h4 {
    color: #944646;
}

.footer-column__list {
    list-style-position: inside;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    padding: 0;
    margin: 0;
}

.footer-column__item a {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #B2B4B6;
    transition: 0.3s ease-in-out all 0s;
    text-decoration: underline transparent;
}

.footer-column__item a:hover {
    color: #944646;
    text-decoration: underline #944646;
}

.footer-column__item {
    margin-top: 4px;
}

.footer-column__list_second {
    list-style-position: inside;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    padding: 0;
    margin: 0;
}

.body-footer__tel {
    margin-bottom: 30px;
}

.tel__list {
    padding: 0 0 0 40px;
    margin: 0;
}

.tel__list:before {
    content: '';
    background: url("../image/footer/tel.svg") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 0;
}

.tele {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    color: #FFFFFF;
    text-decoration: underline transparent;
    transition: 0.3s ease-in-out all 0s;
}

.tele:hover {
    color: #944646;
    text-decoration: underline #944646;
}

.tel__list li {
    margin-bottom: 2px;
}

.tel__list li:last-child {
    margin-bottom: 0;
}

.tel__list mark {
    background-color: transparent;
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 9px;
    color: #B2B4B6;
}

.tel__link {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #944646;
    text-decoration-line: underline;
}

.tel__link:hover {
    color: #fff;
}

.mail__list {
    padding: 0 0 0 40px;
    margin: 0;
}

.mail__list:before {
    content: '';
    background: url("../image/footer/mail.svg") no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 0;
}

.mail__list a {
    font-family: 'Gotham Pro', Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    color: #FFFFFF;
    text-decoration: transparent underline;
    transition: 0.2s ease-in-out all 0s;
}

.mail__list a:hover {
    color: #944646;
    text-decoration: #944646 underline;
}

.mail__list li {
    margin-bottom: 2px;
}

.mail__list li:last-child {
    margin-bottom: 0;
}

/* FOOTER */


/* BREAKPOINTS */
/* BREAKPOINT XL */
@media (max-width: 1400px) {
    /* HEADER */
    .top-line__logo {
        position: relative;
        width: 280px;
        height: 52px;
    }

    .top-line__logo img {
        width: 100%;
        height: 100%;
        object-position: left center;
        object-fit: contain;
    }

    /* HEADER */
    /* FOOTER */
    .mail__list a {
        font-size: 10px;
        line-height: 9px;
    }

    .tel__list li {
        margin-bottom: 0;
    }

    .mail__list li {
        margin-bottom: 0;
    }

    /* FOOTER */
}

/* BREAKPOINT LG */
@media (max-width: 1200px) {
    /* HEADER */
    .top-line__text {
        width: 237px;
    }

    /* HEADER */
}

/* BREAKPOINT MD */
@media (max-width: 992px) {
    body.lock {
        overflow: hidden;
    }
    .content {
        margin-top: 80px;
    }
    /* SECTIONS */
    section {
        padding: 30px 0;
    }

    /* SECTIONS */

    /* PAGE TEXT */
    .page-text .text-1 {
        margin-bottom: 20px;
    }
    .page-text .h2 {
        margin-bottom: 20px;
    }
    /* PAGE TEXT */
    /* HEADER */
    .header__pc {
        display: none;
    }

    .header__mob {
        display: block;
    }

    .list__buttons {
        padding: 20px;
    }

    .menu-scroll__search input {
        max-width: 278px;
    }

    .menu-scroll__search button {
        margin-right: 20px;
    }

    /* HEADER */
    /* FOOTER */
    .body-footer-info {
        margin-bottom: 0;
    }

    .body-footer__row {
        margin-bottom: 20px;
    }

    footer {
        padding: 40px 0;
    }

    .body-footer__tel {
        margin-bottom: 70px;
    }

    /* FOOTER */
}

/* BREAKPOINT SM */
@media (max-width: 768px) {
    /* HEADER */
    .header__mob {
        height: 60px;
    }

    /* HEADER */
}

/* BREAKPOINT XS */
@media (max-width: 576px) {
    .content {
        margin-top: 60px;
    }
    /* SECTIONS */
    section {
        padding: 20px 0;
    }
    /* SECTIONS */

    /* PAGE TEXT */
    .page-text .text-1 {
        margin-bottom: 10px;
    }
    .page-text .h2 {
        margin-bottom: 15px;
    }
    /* PAGE TEXT */

    /* HEADER */
    .header-top__logo {
        width: 150px;
        height: 30px;
        position: relative;
    }

    .header-top__logo a {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .header-top__logo img {
        width: 100%;
        height: 100%;
        object-position: left center;
        object-fit: contain;
    }

    .menu-scroll__button {
        margin-top: 20px;
        flex: 0 0 100%;
    }

    .menu-scroll__search input {
        max-width: 230px;
    }

    .menu-scroll__search button {
        margin-right: 0;
    }

    /* HEADER */
    /* FOOTER */
    .body-footer__tel {
        margin-bottom: 20px;
    }

    .footer-column_second {
        margin-top: 20px;
    }

    footer {
        padding: 20px 0;
    }

    .body-footer__mail {
        margin-bottom: 20px;
    }

    /* FOOTER */
}